body{
    height: 660px;
    width: 1370px;
    border: 1px solid;
}

#super{
    border: 1px solid;
    height: 550px;
    width: 450px;
    margin: 55px 0px 0px 450px;
    background-color:#31ecad;
    border-radius: 20px;
    box-shadow: 10px 0px 10px ;
}

#sub{
    border: 1px solid;
    height: 450px;
    width: 320px;
    margin: 50px 0px 0px 60px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 0px 10px;
}

#A{
    font-size: 50px;
    margin: 35px 0px 0px 80px;
    text-shadow:4px 4px 4px silver;
}

#line{
    font-size: small;
    margin: 13px 0px 10px 62px;
}

hr{
    width: 250px;
}

.delta{
    border:none;
    margin: 10px 0px 0px 80px;
    box-shadow: 4px 4px 4px ;
}

#sub5{
    margin: 0px 0px 0px 65px;
}

a{
    color:blue;
    text-decoration: none;
    margin: 30px 0px 20px 5px;
}

#sub6{
    font-size: x-small;
    margin: 0px 0px 0px 2px;
}

#sub7{
    margin: 8px 0px 0px 110px;
    padding: 15px 20px 15px 20px;
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: #31ecad;
    border-radius: 50px;
    box-shadow: 7px 8px 11px -2px black;
}

#Big{
    flex-wrap: wrap;
    padding: 0px 0px 0px 85px;
    color: white; 
    
 } 


